input.prompt { background-color: #000000; color: #ffffff; border: 0px; 
               font-size: 16pt;
               text-decoration: none;
               font-family: courier, monospace; }

p.zork { background-color: #000000; color: #cccccc; border: 0px;    
               font-size: 16pt;
               text-decoration: none;
               font-family: courier, monospace; }


