.main{
	margin: 0px;
	padding: 0px;
	background-color: #eee8d5;
	color:  #004C4C;

}	

input.prompt { 
               font-family: courier, monospace;
        		background-color: #424242;
				border-width: 0px;
				color: #fff;
				font-size: large;
				width: 80%;

		   }

.zork {  
font-family: courier, monospace;
padding-left: 30px;
padding-bottom: 30px;
background-color: #424242;
color:#fff;
height: 100%;
width: calc(95% - 30px);
position: absolute;
overflow-y: scroll;



}

#infobar{
	
	height: 200px;

}	

#consoletop{
	background-image:-webkit-linear-gradient(top, #efedee, #c1c1c1);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 30px;
	border-bottom: 0px;
	margin-top:20px;
	padding-left: 20px;
	position: relative;
	text-align: center;


}

#consolebar{
	border-top: 0px;
	padding-top: 0px;
	background-color: #424242;
	
}

.console{
	
	padding-left: 20px;
	width: 95%;
	

}	


#terminal{

	color: #424242;
	padding-top: 6px;

	


}

#box{
	float: left;
	transform: scale(.6,.6);
	top: -12px;
	left: -13px;

}

#consoleheader{

	position: relative;


}

textarea:focus, input:focus{
    outline: 0;
}

.title{

	font-family: 'Metamorphous', cursive;
	font-size: 50;
	position: relative;
	top:10px;
	left: 40px;

}
.title-icon{
	position: relative;
	left: 40px;
	font-size: 27;
	top: 14;


}
.commands{
    position:  relative;
    left: 30px;
    top: 10px;
    font-size: 20;
}
.commandtable {
	width: 100%;
	position: relative;
	left: 26;
	top: 20px;

}

.commandBox {
background-color: #fdf6e3;
padding-bottom: 35px;
-webkit-box-shadow: -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
-moz-box-shadow: -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
box-shadow: -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
}

.fa{


	color: #683A5E;

}

#forkongithub a{
background:#000;
color:#fff;
text-decoration:none;
font-family:arial,sans-serif;
text-align:center;
font-weight:bold;
padding:5px 40px;
font-size:1rem;
line-height:2rem;
position:relative;
transition:0.5s;
}
#forkongithub a:hover{
background:#c11;
color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
content:"";
width:100%;
display:block;
position:absolute;
top:1px;
left:0;
height:1px;
background:#fff;
}
#forkongithub a::after{
bottom:1px;
top:auto;
}
@media screen and (min-width:800px){
#forkongithub{
position:fixed;
display:block;
top:0;
right:0;
width:200px;
overflow:hidden;
height:200px;
z-index:9999;
}
#forkongithub a{
width:200px;
position:absolute;
top:60px;
right:-60px;
transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
box-shadow:4px 4px 10px rgba(0,0,0,0.8);
}
}
